h1 {
    font-size: 105px;
    color: green;
}

img {
    display: block;
    margin: auto;
}

label {
    color: green;
    font-size: x-large;
}

button {
    width: 50px;
}

.invisible-span {
    width: 0px;
}

.padded {
    /* by button width */
    padding-left: 50px;
}

.centered {
    text-align: center;
}